/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  /* по умолчанию */
  /* font-size: 16px;  */
}
body {
  line-height: 1;
  color: #4b4b4b;
  font-family: "Roboto";
  background-color: #f5f5f5;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* ------------------------------ */

/*
Flexbox - это целый модуль, содержащий в себе набор свойств и их значений как для родителя flex-контейнера так и для его дочерних элементов flex-элементов. Основным преимуществом гибкой FLEX разметки является возможность изменять ширину/высоту пространство вокруг и порядок flex-элементов, для того чтобы наилучшим образом заполнить доступное пространство flex-контейнера. 
*/

/* Флекс-контейнер */

/* height: 600px; */

/* Включение флекс-модуля
  display: flex; */

/* Определяет смогут ли flex-элементы перемещаться на следующие строки когда перестают помещаться внутри flex-контейнера. */
/* flex-wrap: wrap; */

/*
	Определяет выравнивание вдоль основной оси (направление зависит от значения свойства flex-direction). 
	*/
/* justify-content: flex-start; */

/*
	Определяет выравнивание вдоль поперечной оси (направление зависит от значения свойства flex-direction). 
	*/
/* align-items: flex-start; */

/*
	Устанавливает основную ось, таким образом определяет направление flex-элементов расположенных в flex-контейнере.
	*/
/* flex-direction: row; */

/*
	Определяет выравнивание вдоль поперечной оси, при наличии свободного пространства, и флекс-элементы расположены в 2 и более строки (направление зависит от значения свойства flex-direction). 
	*/
/* align-content: stretch; */

/*
	Управляет расстоянием (разрывом) между флекс-элементами
	*/
/* 
	row-gap - между рядами
	column-gap - между колонками
	gap: row-gap column-gap
	 */
/* gap: 20px; */

/* Флекс-элемент */

/*
Управляет порядком, в котором располагаются flex-элементы внутри flex-контейнера.
*/

/*
	Переопределяет для конкретного flex-элемента выравнивание вдоль поперечной оси (направление зависит от значения свойства flex-direction).
	*/
/* align-self: center; */

/*
	Определяет размер элемента по умолчанию, до распределения оставшегося пространства. Значения могут быть в процентах пикселях и т.д.
	*/
/* flex-basis: auto; */
/* flex-basis: auto; */

/*
	Определяет возможность элемента увеличиваться в размере, при необходимости заполняя весь flex-контейнер. 0 запрещено. 1 разрешено. 
	*/
/* flex-grow: 0; */
/*
	Определяет возможность элемента уменьшаться в размере, при необходимости заполняя весь flex-контейер. 0 запрещено. 1 разрешено.
	*/
/* flex-shrink: 1; */

/*
	Определяет возможность элемента уменьшаться и увеличиваться в размере, при необходимости заполняя весь flex-контейнер (0 запрещено. 1 разрешено). А так же задаёт базовый размер. 
	

}*/
/**********/
.header {
  background-color: #794f45;
  padding: 15px;
}
.footer {
  background-color: #794f45;
  padding: 15px;
}

.main {
  padding: 100px;
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1050px;
  margin: 0px auto;
  padding: 0px 15px;
}
.impact {
  padding: 0px 0px 212px 0px;
  background-color: #29c3be;
}
.impact__container {
  position: relative;
}
.impact__container::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 50%;
  transform: translate(88%, 0px);
  width: 68%;
  height: 100%;
  background: url("../img/mainpage/impact/decor.png") 0 0 / 100% no-repeat;
}

.impact-header {
  display: flex;
  margin: 0 -15px;
}

.header-impact__img img {
  border-radius: 40px;
}
.header-impact__img {
  padding: 0 15px;
  position: relative;
  margin: -80px 0 0 0;
  flex: 0 0 50%;
}
.header-impact__text {
  align-self: flex-end;
  flex: 0 0 50%;
}
.text__header-impact {
  padding: 0 15px;
}
.impact-header:not(:last-child) {
  margin-bottom: 80px;
}
.header-impact__sub-title {
  padding: 0 0 0 33px;
  background: url(../img/title-icon_white.svg) 0 -2px no-repeat;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 32px;
}
.header-impact__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  max-width: 411px;
}
.impact__boxes {
  display: flex;
  margin: 0 -12px;
}
.box-impact {
  display: flex;
  padding: 0 12px;
  flex: 1 0 25%;
  align-items: flex-start;
  column-gap: 11px;
}

.puppy-baths__value {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
.puppy-baths__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #5d62b5;
}
.promise {
  padding: 50px 0;
}

.promise__header:not(:last-child) {
  margin: 0 0 68px 0;
}
.promise__subtitle {
  padding: 0 0 0 33px;
  background: url(../img/title-icon.svg) 0 -2px no-repeat;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5d62b5;
}
.promise__subtitle:not(:last-child) {
  margin: 0 0 33px 0;
}
.promise__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.promise__boxes {
  display: flex;
  flex: 1 1 33.333%;
  margin: 0 -12px;
}
.promise__box {
  display: flex;
  padding: 0 12px;
  align-items: flex-start;
  column-gap: 23px;
  max-width: 324px;
}
.promise__icon {
  flex: 0 0 63px;
}

.promise__box-info-header {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #f2726f;
}
.promise__box-info-header:not(:last-child) {
  margin: 0 0 20px 0;
}
.promise__box-info-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}
.services {
  overflow: hidden;
  padding: 100px 0px 112px 0px;
  position: relative;
}
.services::before {
  content: "";
  background: url("../img/mainpage/services/decor.png") left -490px no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(200px, 0px);
  width: 100%;
  height: 100%;
}
.services__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.services__header:not(:last-child){
  margin: 0 0 78px 0;
}
.services__sub-title {
  padding: 0 0 0 33px;
  background: url(../img/title-icon.svg) 0 -2px no-repeat;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5D62B5;
  margin-bottom: 33px;
}
.services__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.services__boxes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin: 0px -12px;
  column-gap: 24px;
}
.services__box {
  padding: 0px 12px;
  flex: 0 0 33.333%;
 max-width: 324px;
}
.services__boxes:not(:last-child){
  margin: 0 0 75px 0;
}
.services__box:hover{
  box-shadow: 3px 5px 5px 2px rgb(102, 102, 102);
}
.box-services {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 44px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.box-services__img{
  margin-bottom: 33px;
  width: 63px;
  align-self: center;
}
.box-services__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #F2726F;
  margin: 0 0 20px 0;
}
.box-services__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}
.services__button {
  align-self: center;
  background-color: #f2726f;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  padding: 12px 25px;
}
.customers {
  position: relative;
  padding: 100px 0;
  
}
.customers::before{
  content: "";
  
  background: url("../img/mainpage/customers/decor.png") 0 90% no-repeat;
  position: absolute;
  top: 0;
  left: 22%;
  transform: translate(0px, 0px);
  width: 100%;
  height: 100%;

 
}
.customer__container {
  position: relative;
 
}
.block__boxes{
  display: flex;
  column-gap: 24px;
  margin: 0 -12px;
}
.block {
  padding: 0 12px;
}

.block__header {
  flex: 0 0 33.333%;
}

.block__sub-title {
  padding: 0 0 0 33px;
  background: url(../img/title-icon.svg) 0 -2px no-repeat;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5D62B5;
  margin-bottom: 33px;
}
.block__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.block__Cullen-Bohannon {
  padding: 45px;

}
.cullen {
  background-color: #fff;

  border-radius: 20px;
}
.cullen__text {
  font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
color: #4B4B4B;
}
.cullen__text:not(:last-child){
  margin: 0 0 30px 0;
}

.cullen__item {
  display: inline-block;
  font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
color: #F2726F;
position: relative;
transform: translate(17px, 8px);
}
.block__Jennifer-Thomas {
  padding: 45px;
}
.jennifer {
  background-color: #fff;
  
  border-radius: 20px;
}
.jennifer__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}
.jennifer__text:not(:last-child){
  margin: 0 0 30px 0;
}

.jennifer__item {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #F2726F;
  position: relative;
  transform: translate(17px, 8px);
}