@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,700&display=swap);



@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-twitter:before {
  content: "\e902";
}

._icon-quote:before {
  content: "\e903";
}

._icon-select-arrow:before {
  content: "\e904";
}

._icon-spoon:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "PT Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  background-color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 120rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #000;
}

.header._header-scroll {
  position: fixed;
  top: -100%;
}

.header._header-show {
  top: 0;
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
}

.top-header {
  padding: 14px 0;
}

.top-header a:hover {
  text-decoration: underline;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.top-header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.top-header__phone::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  top: 0;
  left: 0;
  background-color: #969696;
}

.top-header__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.top-header__work::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  top: 0;
  left: 0;
  background-color: #969696;
}

.top-header__login {
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.bottom-header {
  background: #0F0F0F;
  padding: 31px 0;
}

.bottom-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__logo {
  position: relative;
  z-index: 6;
}

.bottom-header__reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.bottom-header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bottom-header__icons a {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.bottom-header__icons a:hover {
  background-color: #1F1F1F;
  border-radius: 50%;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 31px;
}

.menu__link {
  padding: 31px 20px;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.menu__link:hover {
  background-color: #1F1F1F;
}

.icon-menu {
  -webkit-tap-highlight-color: transparent;
  display: none;
}

.no-webp .footer__top{
  background: url("../img/footer.png") center/cover no-repeat; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  gap: 30px;
}

.footer__about {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.footer__category {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.footer__email {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
}

.footer__police {
  line-height: 16px;
  color: #D0D0D0;
}

.footer__made {
  font-size: 12px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #D0D0D0;
}

.about-footer__text {
  line-height: 150%;
}

.title-footer {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.category-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.category-footer__link {
  display: inline-block;
  padding: 10px 20px;
  line-height: 150%;
  color: #D0D0D0;
  background: #0F0F0F;
}

.category-footer__link:hover {
  text-decoration: underline;
}

.email-footer__text {
  line-height: 150%;
  margin-bottom: 37px;
}

.email-footer__input {
  background: rgba(255, 255, 255, 0.4);
  padding: 12px 20px;
  color: #fff;
}

.email-footer__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.email-footer__input::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}

.email-footer__input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.email-footer__input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.email-footer__input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.email-footer__button {
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 10px 20px;
  background: #0F0F0F;
  margin-left: -3px;
}

.email-footer__button:hover {
  text-decoration: underline;
}

.page__porten {
  margin-top: 130px;
}

.no-webp .porten{
  background: url("../img/bg1.jpg") center/cover no-repeat; }

.porten__container {
  text-align: center;
}

.porten__logo {
  margin-bottom: 80px;
}

.porten__text {
  margin: 0 auto;
  max-width: 730px;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}

.season__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.season__examples {
  padding: 93px 80px;
}

.season__title {
  margin-bottom: 50px;
  gap: 50px;
}

.season__clocks {
  margin: 0 -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.season__clock {
  padding: 0 25px;
}

.season__clock:hover {
  text-decoration: underline;
}

.season__clock:hover img {
  -webkit-transition: -webkit-transform 0.4s ease 0.1s;
  transition: -webkit-transform 0.4s ease 0.1s;
  -o-transition: transform 0.4s ease 0.1s;
  transition: transform 0.4s ease 0.1s;
  transition: transform 0.4s ease 0.1s, -webkit-transform 0.4s ease 0.1s;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.season__picture {
  padding: 55px 22px;
  background: #191B1C;
  margin-bottom: 25px;
}

.season__subtitle {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.season__price {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}

.season__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-webp .bg-season{
  background: url("../img/season/new-collection.jpg") left/cover no-repeat; }

.bg-season {
  width: 100%;
}

.bg-season__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-season__title {
  margin-bottom: 30px;
  gap: 30px;
}

.box-season__container_wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.box-season__picture {
  position: relative;
  padding: 0 0 31.7% 0;
  width: 100%;
  height: 100%;
}

.box-season__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-season__old-collection {
  text-align: center;
  padding: 100px 285px;
}

.box-season__title {
  margin-bottom: 40px;
  gap: 40px;
}

.box-season__description {
  text-align: center;
  max-width: 471px;
  line-height: 150%;
  margin: 0 auto 60px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.title::after {
  content: "";
  top: 0;
  left: 0;
  width: 120px;
  height: 1px;
  background-color: #fff;
  display: block;
}

.button {
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 12px 28px;
  border: 1px solid #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: #1F1F1F;
}

.new__title {
  gap: 40px;
  margin-bottom: 80px;
}

.new__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  row-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.new__clock:hover {
  text-decoration: underline;
}

.new__clock:hover img {
  -webkit-transition: -webkit-transform 0.4s ease 0.1s;
  transition: -webkit-transform 0.4s ease 0.1s;
  -o-transition: transform 0.4s ease 0.1s;
  transition: transform 0.4s ease 0.1s;
  transition: transform 0.4s ease 0.1s, -webkit-transform 0.4s ease 0.1s;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.new__picture {
  padding: 55px 22px;
  background: #191B1C;
  margin-bottom: 25px;
  max-width: 260px;
}

.new__subtitle {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.new__price {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}

.brends {
  background: #0F0F0F;
}

.brends__title {
  gap: 40px;
  margin-bottom: 40px;
}

.brends__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.brends__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.brends__link:hover {
  background-color: #1F1F1F;
  border-radius: 50%;
}

@media (min-width: 71.25em) {
  .footer__top {
    padding-top: 5rem;
  }

  .footer__top {
    padding-bottom: 6.25rem;
  }

  .porten {
    padding-top: 10rem;
  }

  .porten {
    padding-bottom: 9.6875rem;
  }

  .season__examples {
    padding-top: 5.8125rem;
  }

  .season__examples {
    padding-bottom: 5.8125rem;
  }

  .season__picture {
    padding-top: 3.4375rem;
  }

  .season__picture {
    padding-bottom: 3.4375rem;
  }

  .bg-season {
    padding-bottom: 5.8125rem;
  }

  .title {
    font-size: 2.25rem;
  }

  .new {
    padding-top: 7.5rem;
  }

  .new {
    padding-bottom: 9.375rem;
  }

  .new__title {
    margin-bottom: 5rem;
  }

  .new__picture {
    padding-top: 3.4375rem;
  }

  .new__picture {
    padding-bottom: 3.4375rem;
  }

  .brends {
    padding-top: 3.75rem;
  }

  .brends {
    padding-bottom: 4.6875rem;
  }
}

@media (min-width: 1167.98px) {
  .bg-season__title {
    white-space: nowrap;
  }
}

@media (min-width: 1168px) {
  .box-season__picture {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 880px;
            flex: 1 1 880px;
  }

  .box-season__old-collection {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 1040px;
            flex: 1 1 1040px;
  }
}

@media (max-width: 1440px) {
  .season__clocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
  }

  .season__bg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bg-season {
    width: 50%;
    min-width: 620px;
  }
}

@media (max-width: 1167.98px) {
  .season__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .season__examples {
    padding: 93px 12px;
  }

  .bg-season {
    width: 100%;
    padding-top: 484px;
    min-width: 0;
  }

  .box-season__container_wide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .new__blocks {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1167.98px) and (max-width: 20em) {
  .season__examples {
    padding-top: 3.125rem;
  }

  .season__examples {
    padding-bottom: 3.125rem;
  }

  .season__clocks {
    margin-left: -0.75rem;
  }

  .season__clocks {
    margin-right: -0.75rem;
  }

  .season__clock {
    padding-left: 0.75rem;
  }

  .season__clock {
    padding-right: 0.75rem;
  }

  .bg-season {
    padding-top: 9.375rem;
  }
}

@media (max-width: 991.98px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-items: center;
  }

  .brends__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .new__blocks {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .top-header__phone::after {
    display: none;
  }

  .top-header__phone-icon {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .top-header__work {
    display: none;
  }

  .top-header__hours {
    display: none;
  }

  .top-header__login {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
  }

  .top-header__login-link {
    display: none;
  }

  .bottom-header__reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 40px;
    right: -100%;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    background-color: rgba(12, 12, 12, 0.9);
    padding-bottom: 1.875rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .menu__body::before {
    content: "";
    left: -100%;
    position: fixed;
    width: 100%;
    top: 38px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(top, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }

  .menu__link {
    font-size: 28px;
  }

  .footer__about {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__category {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__email {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .brends__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) and (max-width: 20em) {
  .bottom-header__reverse {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .menu__body {
    padding-top: 9.375rem;
  }

  .menu__body::before {
    height: 9.375rem;
  }

  .porten__logo img {
    width: 15.625rem;
  }

  .porten__logo img {
    height: 15.625rem;
  }
}

@media (max-width: 570px) {
  .new__blocks {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 549.98px) {
  .brends__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 20em) {
  .top-header__description {
    font-size: 1.125rem;
  }

  .bottom-header__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .bottom-header__icons {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .footer__top {
    padding-top: 3.125rem;
  }

  .footer__top {
    padding-bottom: 3.125rem;
  }

  .porten {
    padding-top: 5rem;
  }

  .porten {
    padding-bottom: 3.125rem;
  }

  .season__examples {
    padding-top: 3.125rem;
  }

  .season__examples {
    padding-bottom: 3.125rem;
  }

  .season__picture {
    padding-top: 1.875rem;
  }

  .season__picture {
    padding-bottom: 1.875rem;
  }

  .bg-season {
    padding-bottom: 3.125rem;
  }

  .box-season__old-collection {
    padding-top: 3.125rem;
  }

  .box-season__old-collection {
    padding-bottom: 3.125rem;
  }

  .box-season__old-collection {
    padding-left: 0rem;
  }

  .box-season__old-collection {
    padding-right: 0rem;
  }

  .box-season__description {
    margin-bottom: 1.875rem;
  }

  .title {
    font-size: 1.625rem;
  }

  .new {
    padding-top: 3.125rem;
  }

  .new {
    padding-bottom: 3.125rem;
  }

  .new__title {
    margin-bottom: 3.125rem;
  }

  .new__picture {
    padding-top: 1.875rem;
  }

  .new__picture {
    padding-bottom: 1.875rem;
  }

  .brends {
    padding-top: 3.125rem;
  }

  .brends {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (min-width: 20em) and (max-width: 47.99875em) {
  .top-header__description {
    font-size: calc(1.125rem + -0.375 * (((100vw - 20rem)) / ((27.99875))));
  }

  .bottom-header__container {
    -webkit-column-gap: calc(1.875rem + 1.875 * (((100vw - 20rem)) / ((27.99875))));
       -moz-column-gap: calc(1.875rem + 1.875 * (((100vw - 20rem)) / ((27.99875))));
            column-gap: calc(1.875rem + 1.875 * (((100vw - 20rem)) / ((27.99875))));
  }

  .bottom-header__icons {
    -webkit-column-gap: calc(1.875rem + 0.625 * (((100vw - 20rem)) / ((27.99875))));
       -moz-column-gap: calc(1.875rem + 0.625 * (((100vw - 20rem)) / ((27.99875))));
            column-gap: calc(1.875rem + 0.625 * (((100vw - 20rem)) / ((27.99875))));
  }
}

@media (min-width: 48em) and (max-width: 69.375em) {
  .bottom-header__container {
    -webkit-column-gap: calc(1.875rem + 1.875 * (((100vw - 48rem)) / ((21.375))));
       -moz-column-gap: calc(1.875rem + 1.875 * (((100vw - 48rem)) / ((21.375))));
            column-gap: calc(1.875rem + 1.875 * (((100vw - 48rem)) / ((21.375))));
  }

  .bottom-header__reverse {
    -webkit-column-gap: calc(2.5rem + 1.25 * (((100vw - 48rem)) / ((21.375))));
       -moz-column-gap: calc(2.5rem + 1.25 * (((100vw - 48rem)) / ((21.375))));
            column-gap: calc(2.5rem + 1.25 * (((100vw - 48rem)) / ((21.375))));
  }
}

@media (max-width: 767.98px) and (min-width: 20em) and (max-width: 47.99875em) {
  .bottom-header__reverse {
    -webkit-column-gap: calc(4.375rem + 1.875 * (((100vw - 20rem)) / ((27.99875))));
       -moz-column-gap: calc(4.375rem + 1.875 * (((100vw - 20rem)) / ((27.99875))));
            column-gap: calc(4.375rem + 1.875 * (((100vw - 20rem)) / ((27.99875))));
  }
}

@media (max-width: 767.98px) and (min-width: 71.25em) {
  .menu__body {
    padding-top: 10.625rem;
  }

  .menu__body::before {
    height: 10.625rem;
  }
}

@media (max-width: 767.98px) and (min-width: 20em) and (max-width: 71.25em) {
  .menu__body {
    padding-top: calc(9.375rem + 1.25 * (((100vw - 20rem)) / ((51.25))));
  }

  .menu__body::before {
    height: calc(9.375rem + 1.25 * (((100vw - 20rem)) / ((51.25))));
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
  .footer__top {
    padding-top: calc(3.125rem + 1.875 * (((100vw - 20rem)) / ((51.25))));
  }

  .footer__top {
    padding-bottom: calc(3.125rem + 3.125 * (((100vw - 20rem)) / ((51.25))));
  }

  .porten {
    padding-top: calc(5rem + 5 * (((100vw - 20rem)) / ((51.25))));
  }

  .porten {
    padding-bottom: calc(3.125rem + 6.5625 * (((100vw - 20rem)) / ((51.25))));
  }

  .season__examples {
    padding-top: calc(3.125rem + 2.6875 * (((100vw - 20rem)) / ((51.25))));
  }

  .season__examples {
    padding-bottom: calc(3.125rem + 2.6875 * (((100vw - 20rem)) / ((51.25))));
  }

  .season__picture {
    padding-top: calc(1.875rem + 1.5625 * (((100vw - 20rem)) / ((51.25))));
  }

  .season__picture {
    padding-bottom: calc(1.875rem + 1.5625 * (((100vw - 20rem)) / ((51.25))));
  }

  .bg-season {
    padding-bottom: calc(3.125rem + 2.6875 * (((100vw - 20rem)) / ((51.25))));
  }

  .title {
    font-size: calc(1.625rem + 0.625 * (((100vw - 20rem)) / ((51.25))));
  }

  .new {
    padding-top: calc(3.125rem + 4.375 * (((100vw - 20rem)) / ((51.25))));
  }

  .new {
    padding-bottom: calc(3.125rem + 6.25 * (((100vw - 20rem)) / ((51.25))));
  }

  .new__title {
    margin-bottom: calc(3.125rem + 1.875 * (((100vw - 20rem)) / ((51.25))));
  }

  .new__picture {
    padding-top: calc(1.875rem + 1.5625 * (((100vw - 20rem)) / ((51.25))));
  }

  .new__picture {
    padding-bottom: calc(1.875rem + 1.5625 * (((100vw - 20rem)) / ((51.25))));
  }

  .brends {
    padding-top: calc(3.125rem + 0.625 * (((100vw - 20rem)) / ((51.25))));
  }

  .brends {
    padding-bottom: calc(3.125rem + 1.5625 * (((100vw - 20rem)) / ((51.25))));
  }
}

@media (max-width: 767.98px) and (min-width: 20em) and (max-width: 47.9375em) {
  .porten__logo img {
    width: calc(15.625rem + 4.375 * (((100vw - 20rem)) / ((27.9375))));
  }

  .porten__logo img {
    height: calc(15.625rem + 4.375 * (((100vw - 20rem)) / ((27.9375))));
  }
}

@media (min-width: 73em) and (max-width: 120em) {
  .season__examples {
    padding-left: calc(0.625rem + 4.375 * (((100vw - 73rem)) / ((47))));
  }

  .season__examples {
    padding-right: calc(0.625rem + 4.375 * (((100vw - 73rem)) / ((47))));
  }

  .season__clocks {
    margin-left: calc(-0.75rem + -0.8125 * (((100vw - 73rem)) / ((47))));
  }

  .season__clocks {
    margin-right: calc(-0.75rem + -0.8125 * (((100vw - 73rem)) / ((47))));
  }

  .season__clock {
    padding-left: calc(0.75rem + 0.8125 * (((100vw - 73rem)) / ((47))));
  }

  .season__clock {
    padding-right: calc(0.75rem + 0.8125 * (((100vw - 73rem)) / ((47))));
  }

  .season__picture {
    padding-left: calc(0rem + 1.375 * (((100vw - 73rem)) / ((47))));
  }

  .season__picture {
    padding-right: calc(0rem + 1.375 * (((100vw - 73rem)) / ((47))));
  }

  .box-season__old-collection {
    padding-top: calc(2.5rem + 3.75 * (((100vw - 73rem)) / ((47))));
  }

  .box-season__old-collection {
    padding-bottom: calc(3.125rem + 3.125 * (((100vw - 73rem)) / ((47))));
  }

  .box-season__old-collection {
    padding-left: calc(2.5rem + 15.3125 * (((100vw - 73rem)) / ((47))));
  }

  .box-season__old-collection {
    padding-right: calc(2.5rem + 15.3125 * (((100vw - 73rem)) / ((47))));
  }
}

@media (max-width: 1167.98px) and (min-width: 71.25em) {
  .season__examples {
    padding-top: 5.8125rem;
  }

  .season__examples {
    padding-bottom: 5.8125rem;
  }

  .season__clocks {
    margin-left: -1.5625rem;
  }

  .season__clocks {
    margin-right: -1.5625rem;
  }

  .season__clock {
    padding-left: 1.5625rem;
  }

  .season__clock {
    padding-right: 1.5625rem;
  }

  .bg-season {
    padding-top: 30.25rem;
  }
}

@media (max-width: 1167.98px) and (min-width: 20em) and (max-width: 71.25em) {
  .season__examples {
    padding-top: calc(3.125rem + 2.6875 * (((100vw - 20rem)) / ((51.25))));
  }

  .season__examples {
    padding-bottom: calc(3.125rem + 2.6875 * (((100vw - 20rem)) / ((51.25))));
  }

  .season__clocks {
    margin-left: calc(-0.75rem + -0.8125 * (((100vw - 20rem)) / ((51.25))));
  }

  .season__clocks {
    margin-right: calc(-0.75rem + -0.8125 * (((100vw - 20rem)) / ((51.25))));
  }

  .season__clock {
    padding-left: calc(0.75rem + 0.8125 * (((100vw - 20rem)) / ((51.25))));
  }

  .season__clock {
    padding-right: calc(0.75rem + 0.8125 * (((100vw - 20rem)) / ((51.25))));
  }

  .bg-season {
    padding-top: calc(9.375rem + 20.875 * (((100vw - 20rem)) / ((51.25))));
  }
}

@media (min-width: 20em) and (max-width: 72.9375em) {
  .box-season__old-collection {
    padding-top: calc(3.125rem + 3.125 * (((100vw - 20rem)) / ((52.9375))));
  }

  .box-season__old-collection {
    padding-bottom: calc(3.125rem + 3.125 * (((100vw - 20rem)) / ((52.9375))));
  }

  .box-season__old-collection {
    padding-left: calc(0rem + 17.8125 * (((100vw - 20rem)) / ((52.9375))));
  }

  .box-season__old-collection {
    padding-right: calc(0rem + 17.8125 * (((100vw - 20rem)) / ((52.9375))));
  }

  .box-season__description {
    margin-bottom: calc(1.875rem + 1.875 * (((100vw - 20rem)) / ((52.9375))));
  }
}

@media (min-width: 62em) and (max-width: 69.375em) {
  .brends__image {
    width: calc(12.5rem + 3.4375 * (((100vw - 62rem)) / ((7.375))));
  }
}

@media (max-width: 991.98px) and (min-width: 48em) and (max-width: 61.99875em) {
  .brends__image {
    width: calc(13.75rem + 2.1875 * (((100vw - 48rem)) / ((13.99875))));
  }
}

@media (max-width: 767.98px) and (min-width: 34.375em) and (max-width: 47.99875em) {
  .brends__image {
    width: calc(13.75rem + 2.1875 * (((100vw - 34.375rem)) / ((13.62375))));
  }
}

.webp .footer__top{ background: url(../img/footer.webp) center/cover no-repeat; }

.webp .porten{ background: url(../img/bg1.webp) center/cover no-repeat; }

.webp .bg-season{ background: url(../img/season/new-collection.webp) left/cover no-repeat; }