/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  /* по умолчанию */
  /* font-size: 16px;  */
}
body {
  line-height: 1;
  color: #fff;
  background-color: #333;
  font-family: "Roboto";
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 50px;
}
/* ------------------------------ */
/*
.main {
	flex-grow: 1;
	padding: 30px;
}

[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}

.main__form {
	margin: 0px 0px 100px 0px;
}
.form {
}
.form__line {
}
.form__line:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.form__label {
	display: block;
	margin: 0px 0px 10px 0px;
}
.form__input {
	height: 30px;
	width: 100%;
	padding: 0px 10px;
}
.form__input:focus::placeholder {
	transform: translate(-100%, 0px);
	opacity: 0;
}
.form__input::placeholder {
	color: red;
	transition: all 0.3s ease 0s;
}

.form__textarea {
	width: 100%;
	height: 180px;
	padding: 15px;
	resize: vertical;
}

.form__button {
	padding: 10px 15px;
	cursor: pointer;
}
.form__select {
	width: 100%;
	height: 30px;
	padding: 0px 10px;
}

.file {
	position: relative;
}
.file__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	font-size: 0;
}
.file__label {
	background-color: green;
	border-radius: 20px;
	padding: 10px 15px;
	cursor: pointer;
}

.checkbox {
	position: relative;
}
.checkbox__input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.checkbox__input:focus + .checkbox__label {
	outline: 1px solid #fff;
}
.checkbox__input:checked + .checkbox__label::before {
	background-color: green;
}
.checkbox__label {
	display: inline-flex;
	column-gap: 10px;
	align-items: center;
	cursor: pointer;
}
.checkbox__label::before {
	cursor: pointer;
	align-self: flex-start;
	flex: 0 0 20px;
	height: 20px;
	content: "";
	background-color: #fff;
	border-radius: 5px;
}

.radiobuttons {
}
.radiobuttons__item {
	position: relative;
}
.radiobuttons__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.radiobuttons__input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.radiobuttons__input:focus + .radiobuttons__label::before {
	box-shadow: 0 0 10px rgb(200, 255, 0);
}
.radiobuttons__input:checked + .radiobuttons__label::after {
	transform: scale(1);
}

.radiobuttons__label {
	display: inline-flex;
	column-gap: 10px;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.radiobuttons__label::before {
	cursor: pointer;
	align-self: flex-start;
	flex: 0 0 20px;
	height: 20px;
	content: "";
	background-color: #fff;
	border-radius: 50%;
}
.radiobuttons__label::after {
	width: 10px;
	content: "";
	transition: transform 0.3s ease 0s;
	position: absolute;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	top: 5px;
	left: 5px;
	transform: scale(0);
}
.switcher {
	position: relative;
}
.switcher__input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.switcher__input:focus + .switcher__label {
	outline: 1px solid green;
}
.switcher__input:checked + .switcher__label {
	background-color: green;
}
.switcher__input:checked + .switcher__label::before {
	background-color: green;
	left: 25px;
}
.switcher__label {
	transition: background-color 0.3s ease 0s;
	position: relative;
	display: inline-block;
	cursor: pointer;
	background-color: #fff;
	width: 50px;
	height: 20px;
	border-radius: 10px;
}
.switcher__label::before {
	transition: transform, left 0.3s ease 0s;
	cursor: pointer;
	width: 25px;
	height: 25px;
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0px, -50%);
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 1.3);
	border-radius: 50%;
}
*/

.form {
  padding: 50px;
}
div :not(:last-child) {
  margin: 0 0 19px 0;
}
.text-area {
  min-width: 100px;
  min-height: 50px;
}
.appointment {
  background-color: #5d62b5;
  width: 585px;
  border-radius: 40px;
  padding: 76px 57px 85px 57px;
}
.appointment input {
  background-color: #5d62b5;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  opacity: 0.4;
  padding: 16px 23.58px;
}
.appointment input::placeholder {
  color: #fff;
}
.appointment textarea {
  outline: none;
  background-color: #5d62b5;
  color: #fff;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0.4;

  min-width: 420px;
  min-height: 180px;
}
.appointment textarea::placeholder {
  color: #fff;
}
.appointment__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.appointment__title:not(:last-child) {
  margin: 0 0 48px 0;
}
.appointment__form-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
}

.block-form_textarea {
  background: #5d62b5;
  min-height: 180px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 17px 23px;
  color: #fff;
}
.block-form_textarea:not(:last-child) {
  margin: 0 0 39px 0;
}

.block-form__button {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  background: #f2726f;
  border-radius: 8px;
  padding: 9px 30px;
  text-align: left;
}
.summary {
  font-family: "Poppins";
  width: 446px;
  padding: 18px 30px;
  background: #f5f7ff;
  color: #000;
}
.summary__form-text input {
  border: 1px solid #a2a6b0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 50px;
}

.summary select {
  border: 1px solid #a2a6b0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 50px;
}

.summary__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.summary__sub-title {
  font-size: 18px;
  line-height: 27px;
}
.summary__item {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  max-width: 287px;
}

.name-input {
  font-weight: 600;
  font-size: 13px;
  line-height: 210%;
}
.box {
  position: relative;
}
.radio-button {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.radio-button:checked + .summary__info::before {
  background-color: green;
  transition: 0.2s ease-in;
}

.summary__info {
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  flex: 1 1 100px;
}
.summary__info::before {
  align-self: flex-start;
  flex: 0 0 17px;
  height: 17px;
  content: "";
  display: block;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0 0 0 -8px;
}
.apply input {
  border: 1px solid #a2a6b0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 50px;
}
.summaru__button {
  border: 2px solid #0156ff;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #0156ff;
  text-align: center;
  border-radius: 50px;
  padding: 15px 0;
  background-color: #f5f7ff;
}
input {
  padding: 0 0 0 17px;
}
.registered {
  background-color: #f5f7ff;
  max-width: 564px;
  font-family: "Poppins";
  color: #000;
}
.registered input {
  border: 1px solid #a2a6b0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 50px;
}
.registered__container {
  padding: 37px 57.5px 41px;
}
.registered__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
.registerd__text {
  font-size: 14px;
  line-height: 30px;
  color: #000;
  font-weight: 300;
}
.icon {
  color: red;
}
.registered__button {
  display: inline-block;
  background-color: #0156ff;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 15px 57px;
}

.registered__link {
  display: inline-block;
  color: #0156ff;
  margin: 0 0 0 23px;
}

.shipping {
  background-color: #fff;
  padding: 50px;
  color: #000;
  font-family: "Poppins";
}

.form-text input {
  border: 1px solid #a2a6b0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 32%;
  height: 50px;
}
.shipping__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.shipping__title::after {
  content: "";
  display: block;
  background-color: #cacdd8;
  width: 100%;
  height: 2px;
  margin-top: 14px;
}
.shipping-text {
  font-size: 13px;
  line-height: 210%;
  color: #666666;
}
.shipping-text::after {
  content: "";
  display: block;
  background-color: #cacdd8;
  width: 100%;
  height: 2px;
  margin: 20px 0;
}
.form-text::after {
  content: "";
  display: block;
  background-color: #cacdd8;
  width: 100%;
  height: 2px;
  margin: 20px 0;
}

.numbers {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
}

.button-next {
  background-color: #0156ff;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 15px 80px;
}
