/* &display=swap&subset=cyrillic-ext */
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "Intro Rust Base Shade";
  src: url("../fonts/IntroRust-BaseShade.woff2") format("woff2"),
    url("../fonts/IntroRust-BaseShade.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Intro Rust Base Line";
  src: url("../fonts/IntroRust-BaseLine.woff2") format("woff2"),
    url("../fonts/IntroRust-BaseLine.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* по умолчанию */
}
body {
  line-height: 1;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
/* ------------------------------ */
/* Отступы */
/* По другому работают для строчного объекта*/

/* Внутренние */
/*
padding
Внутренний отступ элемента
При указании поля в процентах, значение считается 
от ширины родителя элемента.
Свойство не наследуется.

padding: со_всех_сторон;
padding: сверху справа снизу слева;
padding: сверху_снизу справа_слева;
padding: сверху справа_слева снизу;

*/

/* Внешние */
/*
margin
Внешний отступ элемента
При указании поля в процентах, значение 
считается от ширины родителя элемента.
Свойство не наследуется.
Значение может быть как положительным, 
так и отрицательным числом.

margin: со_всех_сторон;
margin: сверху справа снизу слева;
margin: сверху_снизу справа_слева;
margin: сверху справа_слева снизу;
*/

/*
.block_2 {
	background-color: #77608d;

	color: #fff;
	font-size: 50px;
	padding: 50px;
}
.block_3 {
	background-color: #794f45;
	padding: 50px;

	color: #fff;
	font-size: 50px;
	padding: 50px;
}
*/
/* НЕ работают для строчного объекта*/
/*
width
Устанавливает ширину блочных тегов и блочно-строчных
Свойство не наследуется.
width:100px;
width:10%;
*/

/* width: 500px; */

/*
box-sizing
Применяется для изменения алгоритма расчета ширины 
и высоты элемента. 
Свойство наследуется.
content-box - Основывается на стандартах CSS, при этом 
свойства width и height задают ширину и высоту контента
 и не включают в себя значения отступов, полей и границ.
border-box - Свойства width и height включают в себя 
значения полей и границ, но не отступов (margin). Эта модель используется браузером Internet Exporer в режиме несовместимости.
padding-box - Свойства width и height включают в себя
 значения полей, но не отступов (margin) и границ (border). 

*/

/*
 Центрирование объекта с помощью  margin со значениями auto:last-child
 1) Объект должен быть блочным
 2) Объект должен быть ограничен по ширине, быть уже чем родитель
 3) margin: 0px auto;
*/

/* margin: 0px auto; */

/*
max-width
Устанавливает максимальную ширину блочных 
и блочно-строчных тегов

min-width
Устанавливает минимальную ширину блочных 
и блочно-строчных тегов
*/

/*
	max-width: 700px;
	margin: 0px auto;
	*/

/*
height:
Устанавливает высоту блочных и блочно-строчных тегов
Свойство не наследуется.
height:100px;
height:10%;

min-height
Свойство не наследуется.

max-height
Свойство не наследуется.
*/

/* height: 500px; */

/*
overflow 
Управляет отображением содержания блочного элемента
visible - Отображается все содержание элемента, даже за пределами установленной высоты и ширины. 
hidden - Отображается только область внутри элемента, остальное будет скрыто.
scroll - Всегда добавляются полосы прокрутки.
auto - Полосы прокрутки добавляются только при необходимости.
*/

/* overflow: hidden; */

/*
display:
Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе.
Свойство не наследуется.

block - Элемент показывается как блочный. Применение этого значения для встроенных элементов, например тега <span>, заставляет его вести подобно блокам — происходит перенос строк в начале и в конце содержимого. 											
inline - Элемент отображается как встроенный. Использование блочных тегов, таких как <div> и <p>, автоматически создает перенос и показывает содержимое этих тегов с новой строки. Значение inline отменяет эту особенность, поэтому содержимое блочных элементов начинается с того места, где окончился предыдущий элемент. 											
inline - block - Это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно встроенному элементу. Фактически такой элемент по своему действию похож на встраиваемые элементы (вроде тега <img>). При этом его внутренняя часть форматируется как блочный элемент, а сам элемент — как встроенный. 											
none - Временно удаляет элемент из документа. Занимаемое им место не резервируется и веб-страница формируется так, словно элемента и не было. 
*/
body {
  font-family: Oswald, serif;
}
.wrapper {
  line-height: 1.4;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1000px;
}

p,
ul {
  margin: 5px auto;
  white-space: pre-line;
}

a {
  text-decoration: underline;
  color: #cece0f;
}
ul li {
  color: blue;
  width: 600px;
}
li {
  margin: 15px 0 15px 30px;
}
h1 {
  font-family: Intro Rust Base Line;
  font-size: 50px;
  margin: 30px auto;
  text-align: center;
}
h3 {
  font-family: Intro Rust Base Shade;
  margin: 30px auto;
  font-size: 25px;
}
.block {
  display: inline;
  background-color: cadetblue;
  padding: 20px;
}
.none {
  display: none;
}
.paragraph {
  text-decoration: underline;
  text-transform: lowercase;
}
.listtext {
  margin-top: 5px;
  text-shadow: 1px 1px 7px rgb(240, 8, 8);
  display: inline;
}
.linkdoor {
  display: block;
}
.name {
  margin-bottom: 20px;
}
.text {
  margin: 0 0 20px 0;
}
.link {
  margin: 0 0 30px 0;
}
.bold {
  font-weight: 700;
}
.background {
  background-color: yellow;
  font-style: italic;
  font-size: 30px;
  padding: 50px;
}
.backgroundyellow {
  display: block;
  background-color: yellow;
  padding: 2px 8px;
}
.imagefost {
  max-width: 500px;
  max-height: 500px;
}
.list3 {
  text-align: center;
  width: 100%;
}
.footer {
  width: 100%;
}
.span1,
.span2,
.span3,
.span4 {
  display: block;
}
.div1,
.div2,
.div3 {
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  padding: 15px;
}
.linkfooter {
  display: inline-block;
  margin-bottom: 30px;
}
.pragraphfooter1,
.pragraphfooter2,
.pragraphfooter3,
.pragraphfooter4 {
  display: inline-block;
  max-width: 100px;
  margin-right: 30px;
  padding: 10px;
}
.textfooter {
  padding: 30px;
}
.top {
  padding: 30px;
  margin-top: -100px;
}
.spanfooter {
  display: block;
  max-height: 100px;
  overflow: auto;
  margin-bottom: 50px;
}
